.inputContainer {
    width: 100%;
    margin: 4rem auto;
    border-radius: 20px;
    border: 3px solid #e0e0e0;
    text-align: center;
    background-color: #003F5C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inputLabel {
    margin-top: 4rem;
    text-align: left;
    padding-inline: 5rem;
    font-size: 24px;
    width: 100%;
}

.inputContent {
    width: 100%;   
    margin: 2rem 0 4rem 0;
    padding-left: 5rem;
}

.inputContent input{
    font-size: 24px;
    line-height: 48px;
}

.inputContent input[type="text"] {
    width: 80%;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
    background-color: #e0e0e0;
    padding-left: 2rem;
    border: none;
    color: #003F5C;
    font-weight: bold;
    transition: .5s;
}

.inputContent input[type="text"]:focus {
    background-color: #fff;
    outline: none;
    
}

.inputContent input[type="submit"] {
    width: 20%;
    border: none;
    background-color: #00B2A9;
    border-radius:48px;
    position: relative;
    left: -5rem;
    cursor: pointer;
    transition: .5s;
    color: #fff;
    font-weight: bold;
}

.inputContent input[type="submit"]:hover {
    color: #003F5C ;
    background-color: #5CE1E6;
}