.footerContainer {
    margin-top: 5rem;
    border-top: 3px solid #b0b0b0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 22vh;
    line-height: 1.5rem;
}

.institutions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.footerContainer p {
    color: #B0B0B0;
}

@media (max-width: 680px) {

    .footerContainer {
        height: 13.5rem;
    }

    .institutions {
        flex-direction: column;
        text-align: center;
    }
}