.mainHeader {
    background-color: #003F5C;
    width: 100%;
    height: 10rem;
    border-bottom: 3px solid #b0b0b0;
    color: #fff;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4rem;
}

.fas-code {
    font-weight: bold;
}

.mainTitle {
    font-size: 64px;
    line-height: 64px;
    font-family: 'Source Code Pro';
    gap: .5rem;
    display: flex;
}

.mainTitleHighlight {
    color: #5CE1E6;
}

/* RESPONSIVIDADE */
@media (max-width: 710px) {

    .mainHeader {
        height: 13.5rem;
    }

    .headerContainer {
        display: block;
        text-align: center;
    }

    .mainTitle {
        justify-content: center;
        margin-bottom: .7rem;
    }
}

@media (max-width: 425px) {
    .mainTitle {
        font-size: 48px;
    }
}

